<a href="https://colab.research.google.com/github/ahvblackwelltech/US30_Research/blob/main/US30_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **US30 Research & Data Cleaning**

In [1]:
# Import Libraries 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

from sklearn.preprocessing import MinMaxScaler

In [3]:
df = pd.read_csv("US30.csv")
df.head(10)

         Date       Open       High        Low      Close
0  12/06/2021  34,633.43  35,356.75  34,633.43  35,227.03
1  12/03/2021  34,692.78  34,801.31  34,264.57  34,580.08
2  12/02/2021  34,076.25  34,759.65  34,076.25  34,639.79
3  12/01/2021  34,678.94  35,004.64  34,006.98  34,022.04
4  11/30/2021  35,056.99  35,056.99  34,424.44  34,483.72
5  11/29/2021  35,017.71  35,287.91  34,895.89  35,135.94
6  11/26/2021  35,366.69  35,366.69  34,749.80  34,899.34
7  11/24/2021  35,752.31  35,825.47  35,591.03  35,804.38
8  11/23/2021  35,619.92  35,841.52  35,542.87  35,813.80
9  11/22/2021  35,631.41  35,929.66  35,615.55  35,619.25