<a href="https://colab.research.google.com/github/ahvblackwelltech/US30_Research/blob/main/US30_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **US30 Research & Data Cleaning**

In [1]:
# Import Libraries 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv("US30.csv")
df.head()

         Date       Open       High        Low      Close
0  12/06/2021  34,633.43  35,356.75  34,633.43  35,227.03
1  12/03/2021  34,692.78  34,801.31  34,264.57  34,580.08
2  12/02/2021  34,076.25  34,759.65  34,076.25  34,639.79
3  12/01/2021  34,678.94  35,004.64  34,006.98  34,022.04
4  11/30/2021  35,056.99  35,056.99  34,424.44  34,483.72